In [3]:
import dtale
import pandas as pd

In [4]:
df = pd.read_csv('data1.csv')

In [5]:
df.head()

,id,y,t,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,1,walkontoe,44:19.9,0.2129,-0.7217,1.6621,10.9253,23.0713,-8.6670,-34.5081,-8.3386,-1.0931,33.8534
1,1,walkontoe,44:19.9,0.2188,-0.6841,1.7085,8.5449,24.7803,-6.6528,-34.3927,-8.1683,-1.2854,33.8564
2,1,walkontoe,44:19.9,0.2300,-0.6777,1.7251,0.1831,24.2310,-6.4697,-34.3652,-8.0035,-1.4777,33.8652
3,1,walkontoe,44:19.9,0.2358,-0.7075,1.6978,-9.2773,21.4844,-6.8359,-34.4312,-7.8662,-1.6589,33.8564
4,1,walkontoe,44:19.9,0.2378,-0.7476,1.6519,-12.8784,19.2261,-6.8359,-34.5355,-7.7454,-1.8237,33.8534

In [7]:
df.drop(['id','t'], axis=1, inplace=True)

In [8]:
df.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,walkontoe,0.2129,-0.7217,1.6621,10.9253,23.0713,-8.6670,-34.5081,-8.3386,-1.0931,33.8534
1,walkontoe,0.2188,-0.6841,1.7085,8.5449,24.7803,-6.6528,-34.3927,-8.1683,-1.2854,33.8564
2,walkontoe,0.2300,-0.6777,1.7251,0.1831,24.2310,-6.4697,-34.3652,-8.0035,-1.4777,33.8652
3,walkontoe,0.2358,-0.7075,1.6978,-9.2773,21.4844,-6.8359,-34.4312,-7.8662,-1.6589,33.8564
4,walkontoe,0.2378,-0.7476,1.6519,-12.8784,19.2261,-6.8359,-34.5355,-7.7454,-1.8237,33.8534

In [10]:
# dtale.show(df)